@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    @apply font-poppins;
  }
}
.testimonial-section {
  text-align: center;
  margin-top: 50px;
}

.testimonial-box {
  background-color: lightgray;
  display: inline-block;
  padding: 20px;
  margin: 0 30px;
}

.testimonial-quote {
  font-style: italic;
  margin-bottom: 10px;
}

.testimonial-author {
  margin-top: 10px;
}

.testimonial-rating {
  margin-top: 5px;
}

.testimonial-controls {
  margin-top: 20px;
}

.testimonial-controls button {
  background-color: yellow;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  border: none;
  cursor: pointer;
}

.testimonial-controls button.active {
  background-color: gray;
}
