@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    @apply font-poppins;
  }
}
 

@media screen and (min-width: 250px) and (max-width: 350px) {
  .popularcont{
    height:80px;
    width: 70px;
  }
  .des{
    font-size:small;
  }
}

