@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    @apply font-poppins;
    fscroll-behavior: smooth;
    @apply font-poppins;
  }
}
 
@media (max-width: 650px) {
  .image {
    width: 174px;
    height: 240px;
  }
  
}
@media (max-width: 560px) {
  .image {
    width: 250px;
    height: 100px;
  }
}
@media (max-width: 560px) {
  .image {
    width: 250px;
    height: 100px;
  }
}


